@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bubblegum+Sans&display=swap');

.cambo-regular {
  font-family: 'Cambo', serif;
}

.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}


* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
  }
  
  #root {
    overflow: auto;
  }
  
  body {
    background: #f0f0f0;
  }
  
  /* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adadad; /* Handle color */
  border-radius: 6px; /* Handle border radius */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Handle color on hover */
}

img {
  width: 100%;
  height: auto;
  justify-content: center;
}
/* --------------- loading page --------------- */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid white;
  z-index: 1000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in;
  z-index: 1001;
  cursor: pointer; 
}

.loading__board {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-in;
  z-index: 1001;
  color: white;
}

.loading h1 {
  font-family: "Berkshire Swash", serif;
  font-size: clamp(4rem, 5vw , 7rem);
  color: white;
  margin: 0;
  margin-top: 8vh;
  margin-bottom: 15vh;
  text-shadow: 
    3px 3px 0 #a51515
}

.loading h2 {
  font-size: clamp(1.5rem, 2.5vw , 3.5rem);
  color: #a51515;
  margin: 0;
  margin-top: 20vh;
  margin-bottom: 15vh;
  border-bottom: 2px solid;
}
.audio_message{
  color: white;
  text-shadow: 
    3px 3px 0 #030303
}
.control {
  width: 60%;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.control-item {
  font-size: clamp(2rem, 2vw, 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-keys-wasd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key-row {
  display: flex;
  justify-content: center;
}

.key {
  display: inline-flex;
  width: clamp(2rem, 3vw, 4rem);
  height: clamp(2rem, 3vw, 4rem);
  border: 1px solid transparent;
  border-bottom: 3px solid #a51515;
  border-right: 3px solid #a51515;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 2px;
  background: rgb(221, 217, 217);
  color: black;
  align-items: center;
  justify-content: center;
}

.key-mouse {
  display: inline-flex;
  width: clamp(4rem, 5vw, 6rem);
  height: clamp(4rem, 5vw, 6rem);
  border: 1px solid transparent;
  border-bottom: 3px solid #a51515;
  border-right: 3px solid #a51515;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 2px;
  background: rgb(221, 217, 217);
  color: black;
  align-items: center;
  justify-content: center;
}

.description {
  margin-top: 5%;
  font-size: clamp(2rem, 2vw, 4rem);
  color: rgb(221, 217, 217);
  text-align: center;
}


.loading__message {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  padding: 8px 32px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 1s ease-in;
  position: absolute;
  bottom: 30px;
  pointer-events: none;
}


.loading__progress {
  width: 60%;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 45px;
  transition: opacity 1s ease-in;
}

.loading__progress__value {
  height: 100%;
  background-color: #ac4545;
  border-radius: 10px;
  transition: width 0.4s;
}

.loading--started {
  opacity: 0;
  pointer-events: none;
}

.loading--started .loading__board {
  opacity: 0;
}

.loading--complete .loading__progress {
  opacity: 0;
}

.loading--complete .loading__message {
  opacity: 1;
  pointer-events: all;
}

/* --------------- overlay --------------- */
.overlay {
  display: none;
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  transition: all 1s; 
}

.overlay.clicked {
  pointer-events: none;
  opacity: 0;
}

/* --------------- catan --------------- */
.catan {
  position: absolute;
  border-radius: 10px;
  right: 10px; 
  width: 55%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  text-align: center;
  font-family: 'cambo-regular';
}

@font-face {
  font-family: 'AlgerianBasic';
  src: url('/font/AlgerianBasic.woff') format('woff');  
}

.catan h1 {
  font-family: 'AlgerianBasic';  
  font-size: clamp(1.5rem, 3vw, 4rem);
  padding: 2vh;
  color: #f5d366;              
}

.catan h2 {
  font-family: 'AlgerianBasic';  
  font-size: clamp(1rem, 2.5vw, 3.5rem);
  margin: 3ch;
  color: #f5d366;
}

.catan h3 {
  font-size: clamp(1rem, 2.5vw, 3rem);
  padding: 2vh;
  text-align: left;
  color: #ffb4aa;

}

.catan p{
  font-size: clamp(0.8rem, 1.5vw, 2.2rem);
  text-align: justify;
  padding: 2vh;
  color:#ffefef;
}



.catan ul {
  list-style: none; 
  padding-left: 2vh; 
  margin-bottom: 2vh;
}

.catan li {
  display: flex; 
  align-items: baseline;
  position: relative; 
  padding-left: 20px;
  text-align: left;
  font-size: clamp(0.8rem, 1.4vw, 2rem);
  margin:2vh;
}

.catan li::before {
  content: "•"; 
  color: rgb(255, 255, 255); 
  position: absolute;
  left: 0; 
  top: 0; 
  font-size: 1em; 
}

.catan strong {
  font-size: clamp(1rem, 1.6vw, 2.4rem);
  font-weight: 800;
  margin-right: 2vh;
  color: #ffb4aa;
  display: inline-block;
}



.catan img {
  width: 100%;
  margin-top: 3vh;
  height: auto;
  justify-content: center;
}

.manual-container {
  padding: 0; 
  height: 50%; 
  width: 100%;
}

.actioncard-container {
  padding: 0; 
  height: 70%; 
  width: 100%;
  justify-content: center;
}

/* --------------- twentee --------------- */
.twentee {
  position: absolute;
  border-radius: 10px;
  right: 10px; 
  width: 60%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2vw;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  letter-spacing: 0.08em;
}
.twentee .header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.twentee .header h1 {
  color: #74b6d0;
  font-size: clamp(1.5rem, 3vw, 4rem);
}

.twentee .header h4 {
  position: relative;
  font-size: clamp(0.5rem, 1.2vw, 1.8rem);
  font-weight: 400;
  line-height: 1.6em;
 
}

.twentee h2 {
  color: #74b6d0;
  font-size: clamp(1.5rem, 2.5vw, 3.5rem);
  font-weight: 800;
  text-align: left;
  margin-top: 3ch;
  margin-bottom: 2ch;
}


.twentee h3 {
  color: #ffb9da;
  font-size: clamp(1.3rem, 2vw, 3rem);
  font-weight: 600;
  text-align: center;
  margin-top: 3ch;
  margin-bottom: 2ch;
}

.twentee .project-info{
  width:90%;  
  margin-left: auto;
  margin-right: auto;
}

.twentee .project-details {
  display: flex;
  justify-content: space-between; 
  font-size: clamp(0.3rem, 1.2vw, 1.8rem);
}

.twentee .project-details strong{
  position: relative;
  font-weight: 700;
  font-size: clamp(0.5rem, 1.3vw, 2.2rem);
  color:#ffb9da;
  margin-right: 1vh;
}

.twentee p {
 text-align:justify;
  font-size: clamp(0.5rem, 1.2vw, 1.8rem);
  font-weight: 400;
  line-height: 1.6em;
}

.twentee strong {
  position: relative;
  font-weight: 700;
  left: 0; 
  top: 0;
  font-size: clamp(0.5rem, 1.4vw, 2.3rem);
  white-space: nowrap;
  color:#ffb9da;

}

.twentee ul {
  list-style: none; 
  padding-left: 2vh; 
  margin-bottom: 2vh;
}

.twentee ul strong {
  margin-right: 2vh;
  margin-left: 1vh;
}


.twentee li {
  display: flex; 
  align-items: baseline;
  position: relative; 
  padding-left: 20px;
  text-align: left;
  font-size: clamp(0.5rem, 1.3vw, 2rem);
  font-weight: 300;
  margin:2vh;
  line-height: 1.6em;
}

.twentee li::before {
  content: "○"; 
  color: rgb(255, 255, 255); 
  position: absolute;
  left: 0; 
  top: 0; 
}


/* --------------- focustudy --------------- */
.focus {
  position: absolute;
  border-radius: 10px;
  right: 10px; 
  width: 70%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  
}
.focus header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.focus header h1 {
  color: #1199aa;
  text-shadow:  2px 2px 0 white;
  font-size: clamp(1.5rem, 3vw, 4rem);
}


.focus h2 {
  color: #1199aa;
  font-size: clamp(1.3rem, 2vw, 3rem);
  font-weight: 800;
  text-shadow:  1px 1px 0 white;
  text-align: center;
  margin-top: 4ch;
  margin-bottom: 2ch;
}

.focus .project-info{
  width:90%;  
  margin-left: auto;
  margin-right: auto;
}

.focus .project-details {
  display: flex;
  justify-content: space-between; 
  padding: 10px 0; 
  font-size: clamp(0.3rem, 1.2vw, 1.8rem);
}

.focus .project-details span {
  white-space: nowrap; 
}

.focus .project-details strong{
  position: relative;
  font-weight: 700;
  font-size: clamp(0.5rem, 1.3vw, 2.2rem);
  color:#cfffff;
}

.focus p {
  position: relative;
  font-size: clamp(0.5rem, 1.3vw, 1.8rem);
  font-weight: 300;
  line-height: 1.6em;
}

.focus strong {
  position: relative;
  font-weight: 700;
  left: 0; 
  top: 0;
  font-size: clamp(0.5rem, 1.4vw, 2.3rem);
  white-space: nowrap;
  color:#cfffff;

}

.challenge {
  display: flex;
  align-items: baseline; 
  text-align: justify;
}

.challenge strong {
  margin-right: 10px;
  white-space: nowrap; 
}

.challenge span {
  display: block; 
}


.focus ul {
  list-style: none; 
  padding-left: 2vh; 
  margin-bottom: 2vh;
}
.focus ul strong {
  margin-right: 2vh;
  margin-left: 1vh;
}


.focus li {
  display: flex; 
  align-items: baseline;
  position: relative; 
  padding-left: 20px;
  text-align: left;
  font-size: clamp(0.5rem, 1.3vw, 2rem);
  font-weight: 300;
  margin:2vh;
  line-height: 1.6em;
}

.focus li::before {
  content: "○"; 
  color: rgb(255, 255, 255); 
  position: absolute;
  left: 0; 
  top: 0; 
}

.focus .list-container {

  justify-content: center;  /* Horizontally center the content */
  align-items: center;      /* Vertically center the content, if needed */
  text-align: center;
}

.focus .list-container strong{
  font-weight: 700;
  font-size: clamp(0.8rem, 2vw, 3rem);
  white-space: nowrap;
  color:#cfffff;
  margin-left: 2vh;
  margin-right: 1vh;
}

iframe {
  width: 400px;
  margin-top: 10px;
  border: none;
  background-color: white;
}

.prototypes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* --------------- contact page --------------- */
.contact {
  position: absolute;
  border-radius: 10px;
  right: 10px; 
  width: 50%;
  max-height: 98%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
}

.contact .header {
  margin-bottom: 20px;
}

.contact .header h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  color: #ffffff;
  text-align: center;
}

.contact .header h2 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #ffffff;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: clamp(0.8rem, 1.5vw, 1.3rem);
  color: #c7c7c7;
  margin-bottom: 5px;
}
.form-row {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px; 
}

.form-group {
  flex: 1; 
  margin-right: 20px; 
}

.form-group:last-child {
  margin-right: 0; 
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  border: 1px solid #999999;
  border-radius: 4px;
}
form textarea {
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #999999;
  border-radius: 4px;
}

form textarea {
  height: 25ch;
  resize: none; 
}

form input[type="submit"] {
  width: 50px; 
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-bottom: 10ch;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

.contact-links {
  display: flex;
  justify-content: center; 
  margin-right: 10px;
  padding: 10px;
}


.contact-links a {
  display: inline-block;
  color: inherit; 
  text-decoration: none;
  margin: 0 10px;
}

.contact-links img {
  width: 50px;  
  height: 50px; 
  vertical-align: middle;
}


/* --------------- About me page --------------- */
.aboutme {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  border-radius: 10px;
  right: 10px;
  width: 55%;
  max-height: 98%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
}

.aboutme h1 {
  font-weight: 100; 
  font-size: clamp(2.8rem, 4.5vw, 3.3rem);
  line-height: 1.6em;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.aboutme h2 {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 1.6em;
  margin-top: 1vh;
}

.aboutme h3 {
  font-weight: 100; 
  font-size: clamp(1rem, 2.8vw, 1.8rem);
  line-height: 2em;
  margin-top: 2vh;
  margin-bottom: 8vh;
}

.aboutme h3 strong {
  font-size: clamp(1.2rem, 3vw, 2rem); 
  color: #ff8585;
  line-height: inherit;
}

.skills-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
  padding: 2vw;
  gap: 20px;
 
}

.tilt-skill {
  margin: 10px; 
  position: relative;
  width: 27vw; 
  height: 27vw; 
  max-width: 160px; 
  max-height: 160px;
  background-size: cover;
  margin: 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  font-size: 1.2em; 
}

.skill-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tilt-skill:hover .skill-label {
  opacity: 1; 
}


/* --------------- Predict page --------------- */
.predict {
  position: absolute;
  border-radius: 10px;
  right: 10px; 
  width: 60%;
  max-height: 98%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  
}


.predict h1 {
  font-weight: 100; 
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1.6em;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.predict h2{
  font-weight: 100; 
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  line-height: 1.6em;
  text-align: justify;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.ipad-frame {
  width: 100%;
  position:relative;
  height: 82.5ch ;
}

.ipad-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer
}


/* --------------- Kennispunt page --------------- */
.kennispunt {
  position: absolute;
  border-radius: 10px;
  right: 10px; 
  width: 60%;
  max-height: 98%;
  background-color: rgba(233, 233, 233, 0.9);
  color: rgb(0, 0, 0);
  overflow-y: auto;
}



.kennispunt h1 {
  color:white;
  font-weight: 800; 
  font-size: clamp(1.5rem, 3vw, 4rem);
  line-height: 1.6em;
  text-align: center;
  margin-bottom: 3.5vh;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #912828;
  margin: 0; 
}

.kennispunt h2{
  font-weight: 600; 
  font-size: clamp(1.5rem, 2vw, 3rem);
  color: white;
  line-height: 1.6em;
  text-align: center;
  padding:0.8ch;
  background-color: black;
}

.kennispunt h3{
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 2rem);
  line-height: 1.6em;
  padding:20px;
  text-align: justify;
}

.kennispunt h4{
  padding-left: 40px;
  padding-right: 40px;
  width:fit-content;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  line-height: 1.6em;
  text-align: justify;
  background-color: #912828;
  color:rgb(226, 225, 225);
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: auto;  
    margin-right: auto; 
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: stretch;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.info-box {
  background-color: #c5c4c4;
  border-radius: 10px;
  text-align: left;
  width: fit-content;
  min-width: 200px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.info-box h3 {
  background-color: #222222;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  color: rgba(233, 233, 233, 0.9);
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  text-align: center;
  font-weight: bold;
}

.info-box p {
  margin: 10px 0 0;
  font-size: clamp(1rem, 1vw, 2rem);
  color: #030303;
  padding: 10px;
  flex-grow: 1; 
}

.kennispunt ul {
  list-style-type: none; 
  padding-left: 0; 
}

.kennispunt ul li {
  position: relative; 
  padding-left: 3vw; 
  color: rgb(73, 73, 73);
}

.kennispunt ul li::before {
  content: "➤"; 
  position: absolute; 
  left: 0; 
  top: 0; 
}

.kennispunt li {
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 2rem);
  line-height: 1.6em;
  margin: 2ch;
  text-align: justify;
}

.close-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  z-index: 1001;

}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 3px;
  font-size: 3vh;
}